<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta author="Ravineel Singhi"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
<title>Kanban App</title>
</head>
<body>
<section class="vh-100 grad">
  <div class="container py-5 h-100">
    {% with errors = get_flashed_messages() %}
    {% if errors %}
    {% for msg in errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-dark">
          <div class="card-body text-center">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-dark-50 mb-5">Please enter your login and password!</p>
            <form action="/login" method="post">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" name="username" id="Username" class="form-control form-control-lg" required>
                </div>
                <div class="col-md-6 mb-4">
                  <label for="Password" class="form-label">Password</label>
                  <input type="password" name="password" id="Password" class="form-control form-control-lg" required>
                </div>
              </div>
              <div class="row ">
                <div class="col-4">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </div>
              </div>
              <div>
                <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>