.card{
  min-height: 150px;
}
.cust{
  border-radius: 35%;
  border: 0px transparent solid;
}
i{
  font-size: 26px;
}
.bo{
  border: 1px black solid;
}
.grad{
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}