body{
  margin: 0%;
}
.cardcus{
  min-height: 150px;
  border: 0px;
  border-top: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ee0979, #ff6a00)!important;
}
.cust{
  border-radius: 35%;
  border: 0px transparent solid ;
}
i{
  font-size: 26px;
}
.bo{
  border: 1px black solid;
}
.grad{
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.navbar{
  font-size: 24px;
  /* background: #7F7FD5!important ;  /* fallback for old browsers */ 
  /* background: -webkit-linear-gradient(to left, #91bfea, #86A8E7, #7F7FD5)!important;  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #91bfea, #86A8E7, #7F7FD5)!important; W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}
input,textarea,select{
background-color: transparent!important;; 
color: aliceblue!important;
font-family: 'Courier New', Courier, monospace!important;
font-size: medium!important;
}
option{
  color: black!important;
}