<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/static/dashboard.css">
<title>Home</title>
</head>
<body>
  <div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome!   {{user["fname"]}} </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">Dashbord</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>
    {% with errors = get_flashed_messages() %}
    {% if errors %}
    {% for msg in errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% if ulist|length >0 %}  
    <div class="container-fluid py-5 mt-4">
      <div class="row flex-row">
        {% for data in ulist %}
          <div class="col-sm6 col-md-4 col-xl-3">
            <div class="card bg-light">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                  <div class="p-2">
                    <h5>{{data["name"]}}</h5>
                  </div>
                  <div class="p-2">
                    <div class="dropdown ">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/edit_list">Edit</a></li>
                        <li><a class="dropdown-item" href="/delete_list/{{data['l_id']}}">Delete</a></li>
                      </ul>
                  </div>
                </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="item border border-light">
                    {% for card in ucard %}
                      {% if card['l_id'] == data['l_id'] %}
                        <div class="card">
                          <div class="card-body p-2">
                            <div class="card-title"> 
                            {{card["name"]}}
                            </div>
                            <p>{{card["Description"]}}</p>
                            <p>{{card["deadline"]}}</p>
                          </div>

                        </div>
                    
                      {% endif %}
                    {% endfor %}
                    <div class="card">
                      <div class="card-body p-2">
                          <form action="/create_card/{{data['l_id']}}" method="get">
                            <button type="submit" class="btn btn-primary cust"><i class="fas fa-plus-circle"></i></button><p>Add Your Card</p>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if ulist|length < 4%}
        <div class="col-sm6 col-md-4 col-xl-3">
          <div class="card bg-light text-center ">
            <div class="card-body ">
              <form action="/create_list/" method="get">
                <button type="submit" class="btn btn-primary" style="border-radius: 20%;"><i class="fas fa-plus-circle"></i></button><p>Add Your List</p>
              </form>
            </div>
          </div>
        </div>
        {% endif %}  
      </div>
    </div>

  {% else %}
      <p>No List found. Add you List now!</p>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8">
          <div class="card bg-light text-center ">
            <div class="card-body ">
              <form action="/create_list" method="get">
                <button type="submit" class="btn btn-primary  p-2 ml-2 cust"><i class="fas fa-plus-circle"></i></button><p>Add Your List</p>
              </form>
            </div>
          </div>
        </div>
      </div>
  {% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>