<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta author="Ravineel Singhi" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
<title>Signup</title>
</head>
<body>
  <section class="vh-100 grad">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card  bg-dark text-dark">
            <div class="card-body text-center">
              <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
              <p class="text-dark-50 mb-5">Please enter your login and password!</p>
              <form action="/signup" method="post">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="Fname" class="form-label">First Name</label>
                    <input type="text" name="fname" id="Fname" class="form-control form-control-lg" required>
                   
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="Lname" class="form-label">Last Name</label>
                    <input type="text" name="lname" id="Lname" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" name="email" id="Email" class="form-control form-control-lg" required>
                   
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="Dob" class="form-label">Date of Birth</label>
                    <input type="date" name="dob" id="Dob" class="form-control form-control-lg" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" name="username" id="Username" class="form-control form-control-lg" required>
                   
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" name="password" id="Password" class="form-control form-control-lg" required>
                  </div>
                </div>


                <div class="row ">
                  <div class="col-4">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign up</button>
                  </div>
                </div>
                <div>
                  <p class="mb-0">Have an account? <a href="/" class="text-white-50 fw-bold">Log In</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>