<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">
<title>Summary</title>
</head>

<body>
  <section class="vh-100 grad">
    <div class="container-fluid h-100">
    <div class="row">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">Welcome! {{user["fname"]}} </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  href="/dashboard">Dashbord</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% with errors = get_flashed_messages() %}
    {% if errors %}
    {% for msg in errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


  {% if ulist|length >0 %}  
    <div class="container-fluid py-5 mt-4">
      <div class="row flex-row">
        {% for data in ulist %}
          <div class="col-sm6 col-md-4 col-xl-3">
            <div class="card text-dark mb-2 cardcus">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                  <div class="p-2">
                    <h5>{{data["name"]}}</h5>
                  </div>
                </div>
                <hr>
                <div class="card-body text-dark">
                  {% if ldata[data["l_id"]]["tc"] > 0%}  
                  <div class="item">
                      <p>Total Cards: {{ldata[data["l_id"]]["tc"]}}</p>
                      <p>Total Completed: {{ldata[data["l_id"]]["ac"]}}</p>
                      <p>Total Pending: {{ldata[data["l_id"]]["ap"]}}</p>
                      <img class="card-img" src="/tmp/{{data['l_id']}}.png">
                  </div>
                  {% else %}
                  <div class="item">
                    <p>No cards are there in this list</p>
                  </div>
                  {% endif %}
                
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
         
      </div>
    </div>

  {% else %}
      <p>No List found. Add you List now!</p>
  {% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</div>
</section>
</body>
</html>